body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  box-shadow: 0 0 20px 0;
  background-color: #166ae9;
}

nav a {
  text-decoration: none;
  list-style: none;
}

main {
  margin-top: 15px;
}


.contato {
  margin-top: 100px;
  padding: 5px;
     
}

.botao-style {
  padding: 15px;
  margin: 5px 0px;
}

.main-title {
  text-align: center;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borda {
  border: 1px solid red;
}


.card {
  padding: 15px;
  margin: auto;
  width: 18rem;

  
}

.margin-card {
  margin-top: 13vh;
}

.imagem-style {
  margin-top: 70px;   
}

.card img {
  width: 262px;
  height: 180px;
  box-shadow: 0px 0px 8px 0px;
}

footer div {
  background-color: #166ae9;
  color: rgb(255, 255, 255);
  padding: 17px;
}

.rodape-contato {
  margin-top: 72px;
}

.rodape-destino {
  margin-top: 240px;
}

nav div a {
  color: white;
  text-decoration: none;
}


